# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Static assets
static/*.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
